# File index FAISS
*.index
*.faiss
*.pkl

# Environment files
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Cache Python
__pycache__/
*.pyc

# Virtual environment (jika pakai venv)
venv/
.env/
